---
layout: default
---
<div class="flex-container">
  {% include header.html %}

  <!-- including mathjax -->
    <script async type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: [
        "MathMenu.js",
        "MathZoom.js",
        "AssistiveMML.js",
        "a11y/accessibility-menu.js"
      ],
      jax: ["input/TeX", "output/CommonHTML"],
      TeX: {
        extensions: [
          "AMSmath.js",
          "AMSsymbols.js",
          "noErrors.js",
          "noUndefined.js",
        ]
      }
    });
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  <script>
  window.onmessage = function(e){
      if (e.data == 'hello') {
          alert('It works!');
      }

      return 23;
  };

  </script>

  <!-- Import all the required dependencies -->
  {% if page.dependency contains "d3" %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/dependency/d3.js"></script>
  {% endif %}

  {% if page.dependency contains "p5" %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/dependency/p5/p5.min.js"></script>
  {% endif %}

  {% if page.dependency contains "plotly" %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/dependency/plotlyJS/plotly-latest.min.js"></script>
  {% endif %}

  {% if page.dependency contains "tensorflow" %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/dependency/tensorflowJS/tf.min.js"></script>
  {% endif %}

  {% if page.dependency contains "nd" %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/dependency/ndjs/nd.min.js"></script>
  {% endif %}

  {% if page.dependency contains "lodash" %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/dependency/lodash.js"></script>
  {% endif %}

  {% if page.dependency contains "utils" %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/dependency/utils.js"></script>
  {% endif %}

  <!-- From the web -->
  {% if page.dependency contains "chart" %}
    <script src="https://npmcdn.com/chart.js@latest/dist/Chart.bundle.min.js"></script>

  {% endif %}


  <!-- imported the required visualization script for cover-visualization -->
  <article class="article-page">
    <div class="page-image" style='height: {{page.height}}'>
      <embed id="myFrame" style="background-size: cover;padding: 0%;" frameborder=0 class="cover-image" width="90%" align="middle" padding="0" scrolling="no" src='{{"/assets/viz/" | prepend: site.baseurl | append : page.viz}}'></embed>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title">{{page.title}}</h1>


        <!-- "name": "@jlab-enhanced/cell-toolbar", -->
          <!-- <div class="page-date"><time datetime="{{page.date}}">{{page.date | date: '%Y, %b %d'}}</time></div> -->
        </div>
        <!-- src='http://127.0.0.1:4000/assets/output/index.html' -->
        <!-- src='https://jupyterlite.readthedocs.io/en/latest/_static/retro/notebooks/?path=pyolite%20-%20plotly.ipynb' -->

                <!-- '/retro/tree/index.html' -->
        <!-- <embed id="myFrame" style="background-size: cover;padding: 0%;" frameborder=0 class="cover-image" width="100%" height="1000px" align="middle" padding="0" scrolling="no" 
        ></embed> -->

      <input type="range" min="1" max="3" value="0" onchange="change_content(this.value -1)" style="display: block; margin: 0 auto;">

      <div id="code" style="display: none;">

        <embed id="myFrame" style="background-size: cover;padding: 0%;" frameborder=0 class="cover-image" width="100%" height="2000" align="middle" padding="0" scrolling="no" 
        src='{{"/assets/output/lab/?path=" | prepend: site.baseurl | append : page.code}}'
        ></embed>

      </div>

      <div id="disc0">

        {{page.content | markdownify}}
      </div>

      <script>
      function change_content(v){
        console.log('hello')
        const disc0Elem = document.querySelector('#disc0')
        const disc1Elem = document.querySelector('#disc0') //TODO: create disc1 and change this arg.
        const codeElem = document.querySelector('#code')

        const allElems = [disc0Elem, disc1Elem, codeElem]

        function closeOthersAcceptGivenElem(activeElem){
          for(let elem of allElems){
            elem.style.display = 'none';
        }
          activeElem.style.display = 'inherit';
        }
        if (v === 0)closeOthersAcceptGivenElem(disc0Elem)
        if (v === 1)closeOthersAcceptGivenElem(disc1Elem)
        if (v === 2)closeOthersAcceptGivenElem(codeElem)
      }
      </script>
        <!-- <iframe width="100%" height="1000px" src="http://127.0.0.1:4000/assets/output/index.html"> -->


        </iframe>
        <div class="page-footer">
          <div class="page-tag">
            <span>Tags:</span>
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">| {{ tag }}</a>
            {% endfor %}
          </div><!-- End Tags -->
          <div class="page-share">
            <span>Share:</span>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
          </div><!-- End Share -->
        </div>



        <!-- Removed disqus, newsletter, recent posts -->
        <div class="post-nav">
        <div>
          {% if page.previous.url %}
          <a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
          {% endif %}
        </div>
        <div class="post-nav-next">
          {% if page.next.url %}
          <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
          {% endif %}
        </div>
      </div>


      </div>
    </div> <!-- End Wrapper -->


  </article>
  {% include search.html %}
  {% include footer.html %}
    <!--
      # jupyter-lite-root

      The source of truth for relative path locations. The `.` means _this_
      is the root, and will redirect to the `appUrl` defined in
      `.jupyter-lite/#jupyter-config-data`.
    -->
</div>
